<div class="col-12" id="contents" style="height: 92vh;">
    <div class="row">

        <div class="offset-1 col-10" style="margin-top: 2%;">
            <div class="col-12">
                <h4 class="card-title mb-0">
                    Active Users
                </h4>
                <br>
                <div class="row">
                    <div class="col-lg-3" *ngFor="let data of users">
                        <div class="brand-card">

                            <br>
                            <!-- <i class="icon-people font-5xl icons"></i> -->
                            <div>
                                <div
                                    style="background: #f1f1f1;height: 100px;width: 100px;border-radius: 50px;background-image: url(https://www.bytepaper.com/Cloud/assets/Profile/defaultnew.png);background-size: cover;cursor: pointer;background-position: center;">
                                </div>
                            </div>

                            <div class="brand-card-body">
                                <div>
                                    <div class="text-value" style="font-size: 14px">{{data.userName}}</div>
                                    <!-- <div class="text-muted">Login : 17-10-2020<br></div> -->
                                </div>
                            </div>
                            <div class="card-header bg-success" style="cursor: pointer" (click)="ViewDetails(data)">View Details</div>

                        </div>
                    </div>

                    <div id="adduser" class="col-lg-3" style="cursor: pointer" >
                        <div class="brand-card">

                            <br>
                            <img height="100px" style="border-radius: 50px" title=""
                                src="https://www.bytepaper.com/Cloud/assets/Profile/plus.png">

                            <div class="brand-card-body">
                                <div>
                                    <div class="text-value"></div>
                                    <div class="text-muted small">You can add  more users<br></div>
                                </div>
                            </div>
                            <div class="card-header"(click)="addNewUser()">Add more users</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


       
    </div>
</div>

<audio id="myAudio">
    <source src="https://www.bytepaper.com/Cloud/assets/notification.ogg" type="audio/ogg">
    <source src="https://www.bytepaper.com/Cloud/assets/notification.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>


<link rel="stylesheet" type="text/css" href="https://www.bytepaper.com/Cloud/assets/js/toastify.css?17.1">
<script type="text/javascript" src="https://www.bytepaper.com/Cloud/assets/js/toastify.js"></script>