<div class="wrapper">
  <!-- Navbar -->
  <app-header></app-header>
  <!-- /.navbar -->
  <!-- Main Sidebar Container -->

  <app-sidebar></app-sidebar>
  <!--/ Main Sidebar Container -->
  <!-- Content Wrapper. Contains page content -->

  
  <router-outlet></router-outlet>
  <!-- /.content-wrapper -->
  <!-- Fotter -->
  <app-footer></app-footer>
  <!-- End Fotter -->
  <!-- Control Sidebar -->
  <!-- <aside class="control-sidebar control-sidebar-dark">-->
  <!-- Control sidebar content goes here -->
  <!-- </aside> -->
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->