<div class="col-md-10 col-12" style="height: calc(100vh - 46px);padding: 2% 5% 0% 2%">
    <div class="col-12 text-left" style="color: black;height: 13vh;">
        <h3 class="display-10">Leads</h3>
        <p class="lead">0</p>
    </div>
    <div id="applist" class="row">
        <div class="col-12">

            <div>

                <div style="padding: 1%">
                    <div class="card-group mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-value" id="Followup">0</div>
                                <small class="text-muted text-uppercase font-weight-bold">Followup</small>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="text-value" id="Creation">0</div>
                                <small class="text-muted text-uppercase font-weight-bold">Creation</small>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="text-value" id="Updation">0</div>
                                <small class="text-muted text-uppercase font-weight-bold">Updation</small>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="text-value" id="Deletion">0</div>
                                <small class="text-muted text-uppercase font-weight-bold">Deletion</small>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="text-value" id="Deal Win">0</div>
                                <small class="text-muted text-uppercase font-weight-bold">Deal Win</small>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="text-value" id="Deal Lose">0</div>
                                <small class="text-muted text-uppercase font-weight-bold">Deal Lose</small>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="text-value" id="Lead Drop">0</div>
                                <small class="text-muted text-uppercase font-weight-bold">Lead Drop</small>
                            </div>
                        </div>
                       
                        
                      

                    </div>
                </div>
                <div class="timeline" id="timeline" style="margin-left: -47%;padding: 1%">
                    <div class="container right" style="width: 100%">
                        <div class="content">
                            <div style="width: 100%;">No activities found</div>
                        </div>
                    </div>
                </div>

            </div>
            <br>
        </div>
    </div>

   
</div>